
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f0f8ff; /* AliceBlue */
            margin: 0;
            padding: 0;
            image-rendering: optimizeQuality;
        }

        header {
            background-color: #87ceeb; /* SkyBlue */
            color: #fff;
            padding: 10px;
            text-align: center;
            position: relative;
        }

        header img {
            position: absolute;
            top: 10px;
            left: 10px;
            max-height: 50px; /* Adjust the max-height as needed */
        }

        nav {
            margin-top: 10px;
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

        section {
            max-width: 600px;
            margin: 20px auto;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background: url('p1.jpeg') center/cover;
            color: #333;
        }

        h2 {
            color: #4169e1; /* RoyalBlue */
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 8px;
            color: #666;
        }

        select,
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50; /* Green */
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        #appointment-success,
        #appointment-error {
            text-align: center;
        }

        footer {
            background-color: #6fc222;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        footer ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        footer ul li {
            display: inline-block;
            margin-right: 20px;
        }
    